<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="hero min-h-screen" style="background-image: url(brickWall)">
            <div class="hero-content text-center">
                <div>
                    <h1 class="text-6xl font-extrabold text-base-content">
                        Document Signing
                        <span class="text-yellow">for Everyone</span>
                    </h1>
                    <p class="py-6 w-full md:w-[60%] mx-auto text-xl">
                        Free forever for individuals, extensible for businesses
                        and developers.
                        <span class="text-base-content font-bold">
                            #1 Open Source Alternative
                        </span>
                        to DocuSign, PandaDoc and more.
                    </p>
                    <!-- Assuming user is a variable checked in backend -->
                    <a href="/dashboard">
                        <button class="btn btn-neutral px-5 text-xl">
                            <img class="h-[30px] w-[30px]" src="rocketImg" />
                            LET'S START
                        </button>
                    </a>
                    <a href="/register">
                        <button class="btn btn-neutral px-5 text-xl">
                            <img class="h-[30px] w-[30px]" src="rocketImg" />
                            CREATE FREE ACCOUNT
                        </button>
                    </a>
                    <p
                        class="py-6 w-full md:w-[60%] font-extrabold mx-auto text-4xl text-base-content"
                    >
                        <span class="text-yellow">29.2k</span> businesses and
                        individuals have signed with DocuSign, PandaDoc and
                        more.
                    </p>
                    <div class="flex items-center gap-3 flex-wrap">
                        <div
                            class="card grow basis-[320px] bg-base-300 shadow-sm"
                        >
                            <div class="card-body items-start">
                                <h2
                                    class="card-title text-left font-normal text-[1rem]"
                                >
                                    I was using Docusign until yesterday when I
                                    realized it was not at all meeting my needs.
                                    Docusig has already been better than
                                    Docusign so I'm switching.
                                </h2>
                                <p>
                                    <span class="font-bold">BRIAN LEE</span> |
                                    Accountant
                                </p>
                            </div>
                        </div>
                        <div
                            class="card grow basis-[320px] bg-base-300 shadow-sm"
                        >
                            <div class="card-body items-start">
                                <h2
                                    class="card-title text-left font-normal text-[1rem]"
                                >
                                    I was using Docusign until yesterday when I
                                    realized it was not at all meeting my needs.
                                    Docusig has already been better than
                                    Docusign so I'm switching.
                                </h2>
                                <p>
                                    <span class="font-bold">BRIAN LEE</span> |
                                    Accountant
                                </p>
                            </div>
                        </div>
                        <div
                            class="card grow basis-[320px] bg-base-300 shadow-sm"
                        >
                            <div class="card-body items-start">
                                <h2
                                    class="card-title text-left font-normal text-[1rem]"
                                >
                                    I was using Docusign until yesterday when I
                                    realized it was not at all meeting my needs.
                                    Docusig has already been better than
                                    Docusign so I'm switching.
                                </h2>
                                <p>
                                    <span class="font-bold">BRIAN LEE</span> |
                                    Accountant
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HERO SECTION END-->

        <section class="mt-16">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-5/12 md:pr-8 order-1 md:order-1">
                    <div class="bg-base-200/50 rounded-xl p-6">
                        <h2
                            class="flex space-x-3 items-center text-2xl font-bold text-neutral-700 leading-normal"
                        >
                            <span
                                class="flex rounded-lg bg-blue-400 p-2 w-12 h-12"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-8 w-8 text-white"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3a3 3 0 0 0 -3 3v12a3 3 0 0 0 3 3"
                                    ></path>
                                    <path
                                        d="M6 3a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3"
                                    ></path>
                                    <path
                                        d="M13 7h7a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-7"
                                    ></path>
                                    <path
                                        d="M5 7h-1a1 1 0 0 0 -1 1v8a1 1 0 0 0 1 1h1"
                                    ></path>
                                    <path d="M17 12h.01"></path>
                                    <path d="M13 12h.01"></path>
                                </svg>
                            </span>
                            <span class="text-base-content"
                                >Create document form</span
                            >
                        </h2>
                        <p
                            class="text-lg leading-relaxed mt-4 text-base-content"
                        >
                            Turn your documents into fillable forms with 10
                            field types available.
                        </p>
                    </div>
                    <div class="bg-base-200/50 rounded-xl p-6 mt-4">
                        <h2
                            class="text-2xl flex space-x-3 items-center text-base-content mb-2 font-bold leading-normal"
                        >
                            <span
                                class="flex rounded-lg bg-green-400 p-2 w-12 h-12"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-8 w-8 text-white"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M3 19c3.333 -2 5 -4 5 -6c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 2.877 2.5 4c1.5 2 2.5 2.5 3.5 1c.667 -1 1.167 -1.833 1.5 -2.5c1 2.333 2.333 3.5 4 3.5h2.5"
                                    ></path>
                                    <path
                                        d="M20 17v-12c0 -1.121 -.879 -2 -2 -2s-2 .879 -2 2v12l2 2l2 -2z"
                                    ></path>
                                    <path d="M16 7h4"></path>
                                </svg>
                            </span>
                            <span class="text-base-content"
                                >Sign documents</span
                            >
                        </h2>
                        <p
                            class="text-lg leading-relaxed mt-4 text-base-content"
                        >
                            Sign documents yourself or invite multiple parties
                            via email or text to sign.
                        </p>
                    </div>
                </div>
                <div
                    class="w-full lg:w-7/12 mb-8 mt-4 lg:mt-0 order-2 md:order-2"
                >
                    <div class="relative w-full">
                        <div
                            id="watch"
                            class="relative overflow-hidden border border-base-300 border border-8 border-base-300 rounded-xl"
                        >
                            <set-video-modal
                                data-trigger-id="demo"
                            ></set-video-modal>
                            <a
                                id="demo"
                                class="group block relative overflow-hidden shadow-2xl"
                                data-event="Click Play Demo Video"
                                data-event-props='{"location":"Top of the landing page"}'
                                href="#demo"
                                data-event-initialized="true"
                            >
                                <div class="bg-black cursor-pointer">
                                    <img
                                        class="group-hover:opacity-40 opacity-60 transition-opacity"
                                        alt="Docusig Demo"
                                        src="https://www.Docusig.co/packs/static/images/demo-180bc73e5d6c29193739.jpg"
                                        width="1920"
                                        height="1013"
                                    />
                                </div>
                                <div
                                    class="absolute top-0 bottom-0 right-0 left-0 flex justify-center items-center"
                                >
                                    <div
                                        class="bg-white border border-base-200 rounded-full shadow-lg absolute cursor-pointer mt-[103px]"
                                    >
                                        <div class="px-5 py-2">
                                            <span
                                                class="text-neutral font-bold text-xs uppercase"
                                            >
                                                Watch a Demo - 1 minute
                                            </span>
                                        </div>
                                    </div>
                                    <span
                                        class="bg-warning rounded-full shadow-xl p-10 opacity-40 inline absolute w-14 h-14"
                                    ></span>
                                    <span
                                        class="bg-warning rounded-full shadow-xl absolute p-5"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="w-7 h-7"
                                            width="44"
                                            height="44"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="#000000"
                                            fill="none"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        >
                                            <path
                                                stroke="none"
                                                d="M0 0h24v24H0z"
                                                fill="none"
                                            ></path>
                                            <path
                                                d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                                                stroke-width="0"
                                                fill="currentColor"
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- VIDEO SECTION END-->

        <div class="px-2 md:px-0">
            <div class="flex flex-wrap">
                <div class="w-full px-4">
                    <div class="mx-auto mb-16 max-w-4xl text-center">
                        <h2
                            class="mb-4 text-4xl font-bold text-dark sm:text-4xl md:text-5xl text-base-content"
                        >
                            eSigning
                            <rough-notation
                                class="inline"
                                data-stroke-width="4"
                            >
                                made simple
                            </rough-notation>
                            <svg
                                class="rough-annotation absolute top-0 left-0 overflow-visible pointer-events-none w-[100px] h-[100px]"
                            >
                                <path
                                    d="M503.5188752956862 1332.1104230697192 C574.4476447380704 1332.4663239090178, 645.992690659376 1332.0876183358234, 788.3628085924864 1330.8369549141464"
                                    fill="none"
                                    stroke="#fbbd23"
                                    stroke-width="4"
                                ></path>
                                <path
                                    d="M791.8633398830152 1332.8386685288335 C720.178828397906 1334.5660930457357, 653.8227045462488 1334.136567808267, 502.78939430841467 1332.8061537350834"
                                    fill="none"
                                    stroke="#fbbd23"
                                    stroke-width="4"
                                ></path>
                            </svg>
                        </h2>
                        <p class="text-base-content text-xl">
                            For individuals, small teams and large
                            organizations.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="grid grid-cols-1 md:grid-cols-3 gap-8 lg:gap-16 mx-auto"
            >
                <div class="w-full">
                    <div class="relative max-w-sm">
                        <div
                            class="relative mb-6 flex h-20 w-20 items-center justify-center rounded-2xl bg-orange-400 text-white"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-12 h-12"
                                width="44"
                                height="44"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path>
                                <path d="M3 7h3"></path>
                                <path d="M3 11h2"></path>
                                <path
                                    d="M9.02 8.801l-.6 6a2 2 0 0 0 1.99 2.199h7.98a2 2 0 0 0 1.99 -1.801l.6 -6a2 2 0 0 0 -1.99 -2.199h-7.98a2 2 0 0 0 -1.99 1.801z"
                                ></path>
                                <path
                                    d="M9.8 7.5l2.982 3.28a3 3 0 0 0 4.238 .202l3.28 -2.982"
                                ></path>
                            </svg>
                        </div>
                        <h3
                            class="mb-4 text-2xl font-semibold text-base-content text-dark"
                        >
                            Fast and slick
                        </h3>
                        <p
                            class="text-lg leading-relaxed text-body-color text-base-content"
                        >
                            Lightning-fast and smooth document signing with a
                            step-by-step form.
                        </p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="relative max-w-sm">
                        <div
                            class="relative mb-6 flex h-20 w-20 items-center justify-center rounded-2xl bg-blue-400 text-base-content"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-12 h-12"
                                width="44"
                                height="44"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path>
                                <path d="M11 3h10v8h-3l-4 2v-2h-3z"></path>
                                <path
                                    d="M15 16v4a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1h2"
                                ></path>
                                <path d="M10 18v.01"></path>
                            </svg>
                        </div>
                        <h3
                            class="mb-4 text-2xl font-semibold text-base-content text-dark"
                        >
                            Works everywhere
                        </h3>
                        <p
                            class="text-lg leading-relaxed text-body-color text-base-content"
                        >
                            From mobile to desktop. Document signing made simple
                            on any device.
                        </p>
                    </div>
                </div>
                <div class="w-full">
                    <div class="relative max-w-sm">
                        <div
                            class="relative mb-6 flex h-20 w-20 items-center justify-center rounded-2xl bg-green-400 text-white"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-12 h-12"
                                width="44"
                                height="44"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                ></path>
                                <path
                                    d="M3 19c3.333 -2 5 -4 5 -6c0 -3 -1 -3 -2 -3s-2.032 1.085 -2 3c.034 2.048 1.658 2.877 2.5 4c1.5 2 2.5 2.5 3.5 1c.667 -1 1.167 -1.833 1.5 -2.5c1 2.333 2.333 3.5 4 3.5h2.5"
                                ></path>
                                <path
                                    d="M20 17v-12c0 -1.121 -.879 -2 -2 -2s-2 .879 -2 2v12l2 2l2 -2z"
                                ></path>
                                <path d="M16 7h4"></path>
                            </svg>
                        </div>
                        <h3
                            class="mb-4 text-2xl font-semibold text-base-content text-dark"
                        >
                            Feature-rich
                        </h3>
                        <p
                            class="text-lg leading-relaxed text-body-color text-base-content"
                        >
                            Reminders, API integration, seamless embedding,
                            branding and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ESIGN  SECTION END-->

        <section class="mt-12">
            <div class="mx-auto mb-12 max-w-4xl text-center">
                <h2
                    class="text-4xl font-bold text-dark sm:text-4xl md:text-5xl text-base-content"
                >
                    Frequently asked questions
                </h2>
            </div>
            <div
                class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 px-2 md:px-0"
            >
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                Are Docusig signatures legally binding?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Yes, Docusig aligns with the ESIGN Act and the UETA in
                        the US, and the eIDAS regulation in Europe (first
                        level), making signed documents legally binding. Visit
                        our{" "}
                        <a class="link" href="/compliance"> compliance </a>{" "}
                        page to learn more.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                How do I send a signing invite from my email
                                address?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Docusig Pro users can connect their Gmail or Outlook
                        accounts to send all signing invitation emails from
                        their connected email address under a custom domain. All
                        email messages sent via Docusig are customizable.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                Can I use my own branding?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Go to <span class="font-bold">Settings</span> and
                        select{" "}
                        <span class="font-bold">Personalization</span> from the
                        list of menu items on the left side. Then click{" "}
                        <span class="font-bold">Upload Logo</span> to upload an
                        image. Your company logo will be used in emails and on
                        the document signing form.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                Can I use Docusig on my mobile device?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Yes. With our step-by-step form users have a smooth
                        signing experience on small mobile screens. Also, you
                        can upload documents and request signatures directly
                        from your device!
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                How do I add a signing form into my website or
                                mobile app?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Utilize our no-code solution to effortlessly integrate a
                        document signing form into any web or mobile app. Visit
                        our{" "}
                        <a class="link" href="/embedding"> embedding </a>{" "}
                        page to learn more about how to add document signing
                        into your website or app.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                How to add a signer phone verification via SMS?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Click on{" "}
                        <span class="font-bold">Add Recipients</span> to open a
                        modal form and select to invite recipients{" "}
                        <span class="font-bold">via phone</span>. Enter the
                        phone number and name (optional). This feature is a part
                        of the Docusig{" "}
                        <a href="/pricing" class="link"> Pro </a>{" "} plan.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                Is Docusig GDPR compliant?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        <a href="#" class="link"> Docusig </a>{" "} Cloud is
                        GDPR-ready with servers located in Dublin, Ireland.
                        Also, our{" "}
                        <a href="/on-premises" class="link"> on-premises </a>{"
                        "} offering allows you to store your data on your own
                        servers to get the control needed for GDPR compliance.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                Is Docusig HIPAA compliant?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        Docusig{" "}
                        <a href="/on-premises" class="link"> on-premises </a>{"
                        "} installation provides the control over your data
                        needed to satisfy HIPAA requirements regarding privacy
                        and data safety. We do not have access to any of your
                        data when hosting on-premises.
                    </p>
                </div>
                <div>
                    <div class="h-14">
                        <div class="flex items-center space-x-2">
                            <div class="text-blue-400">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12"
                                    width="44"
                                    height="44"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                    ></path>
                                    <path
                                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                                    ></path>
                                    <path d="M12 16v.01"></path>
                                    <path
                                        d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
                                    ></path>
                                </svg>
                            </div>
                            <p
                                class="text-lg font-semibold text-base-content leading-6"
                            >
                                How do I contact sales?
                            </p>
                        </div>
                    </div>
                    <p class="text-sm text-base-content">
                        You can email us at{" "}
                        <a href="mailto:sales@Docusig.co" class="link">
                            sales@Docusig.co </a
                        >{" "} or book a meeting with the team using this{" "}
                        <a href="/contact" class="link"> link </a>
                        .
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="py-12">
                <h2
                    class="text-4xl font-bold text-base-content lg:text-5xl text-center pb-10"
                >
                    Get started now
                </h2>
                <div
                    class="mx-auto max-w-5xl bg-base-200/50 rounded-3xl px-6 py-8 md:px-12 md:py-12"
                >
                    <div class="flex flex-col md:flex-row">
                        <div
                            class="flex w-full flex-col space-y-3 md:space-y-0 justify-between items-center"
                        >
                            <div class="mb-8">
                                <div class="mx-auto">
                                    <p
                                        class="text-3xl font-bold tracking-tight text-center text-base-content sm:text-4xl"
                                    >
                                        Sign for free
                                        <br />
                                        <span
                                            class="text-warning tracking-wider"
                                        >
                                            in the Cloud
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="my-auto flex">
                                <a
                                    class="btn btn-base btn-outline btn-lg w-72"
                                    data-role="app-link"
                                    data-event="Click Sign Up"
                                    data-event-props='{"location":"Bottom of the landing page"}'
                                    data-event-initialized="true"
                                    href="/register"
                                >
                                    <img
                                        src="{rocketImg}"
                                        class="w-[30px] h-[30px]"
                                    />
                                    Get Started
                                </a>
                            </div>
                        </div>
                        <div
                            class="divider divider-vertical md:divider-horizontal my-8 md:my-0"
                        >
                            OR
                        </div>
                        <div
                            class="flex w-full flex-col space-y-3 md:space-y-0 justify-between items-center"
                        >
                            <div class="mb-8">
                                <div class="mx-auto">
                                    <p
                                        class="text-3xl font-bold tracking-tight text-center text-base-content sm:text-4xl"
                                    >
                                        Contact us to
                                        <br />
                                        <span
                                            class="block md:inline text-warning tracking-wider"
                                        >
                                            learn more
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="my-auto flex">
                                <a
                                    class="btn btn-base btn-outline btn-lg w-72"
                                    data-role="app-link"
                                    data-event="Click Contact Us"
                                    data-event-props='{"location":"Bottom of the landing page"}'
                                    data-event-initialized="true"
                                    href="/contact"
                                >
                                    <img
                                        src="{hiImg}"
                                        class="h-[30px] w-[30px]"
                                    />
                                    Contact Us </a
                                >{" "}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
